<section id="d-flex">
  <div class="item">
    <div class="d-flex p-2">デフォルトのFlexコンテナ！</div>
    <div class="d-inline-flex p-2">インラインFlexコンテナ！</div>
  </div>
  <section class="item d-flex flex-row">
    <div class="p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
  </section>
  <div class="item d-flex flex-row-reverse">
    <div class="p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
  </div>
  <div class="item d-flex flex-column">
    <div class="p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
  </div>
  <section id="box">
    <div class="item d-flex flex-column">
      <div class="p-2">Flexアイテム1</div>
      <div class="p-2">Flexアイテム2</div>
      <div class="p-2">Flexアイテム3</div>
    </div>
  </section>
  <section id="box">
    <div class="d-flex align-items-start item">
      <div class="p-2">Flexアイテム1</div>
      <div class="p-2">Flexアイテム2</div>
      <div class="p-2">Flexアイテム3</div>
    </div>
  </section>
  <section id="box">
    <div class="d-flex align-items-stretch">
      <div class="p-2">Flexアイテム1</div>
      <div class="p-2">Flexアイテム2</div>
      <div class="p-2">Flexアイテム3</div>
    </div>
  </section>
  <div class="d-flex item">
    <div class="p-2 flex-fill">コンテンツが長めのFlexアイテム1</div>
    <div class="p-2 flex-fill">Flexアイテム2</div>
    <div class="p-2 flex-fill">Flexアイテム3</div>
  </div>
  <div class="d-flex flex-column item" style="height:200px;">
    <div class="p-2 flex-fill">コンテンツが長めの<br>Flexアイテム1</div>
    <div class="p-2 flex-fill">Flexアイテム2</div>
    <div class="p-2 flex-fill">Flexアイテム3</div>
  </div>
  <div class="d-flex item">
    <div class="mr-auto p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
  </div>
  <div class="d-flex item">
    <div class=" p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="ml-auto p-2">Flexアイテム3</div>
  </div>
  <div class="d-flex item">
    <div class="p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
    <div class="p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
    <div class="p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
    <div class="p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
    <div class="p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
    <div class="p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
    <div class="p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
    <div class="p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
  </div>
  <div class="d-flex flex-wrap item">
    <div class="p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
    <div class="p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
    <div class="p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
    <div class="p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
    <div class="p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
    <div class="p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
    <div class="p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
    <div class="p-2">Flexアイテム1</div>
    <div class="p-2">Flexアイテム2</div>
    <div class="p-2">Flexアイテム3</div>
  </div>
</section>