
html,body{
  margin: 0;
  padding: 0;
  height: 100%;
}
div#wrapper{
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: ($wide + $moderate) * 2 + $standard_line_height;
  background-color: $light_gray1;
  div#container{
    div#login-form {
      width: 400px;
      padding: $wide * 2;
      margin: $wide *  2 auto;
      border-radius: $wide;
      border: solid 4px $dark_cyan;
      background-color: $very_light_gray;
      h1 {
        background-color: transparent;
        color: $dark_gray;
        font-size: $huge;
        font-weight: bold;
      }
      form {
        div {
          padding: $wide;
          label{
            display: block;
            padding: $moderate 0;
          }
          input[type="text"],input[type="password"]{
            padding: $wide;
            width: 360px;
          }
          input[type="submit"]{
            padding: $narrow $moderate;
          }
        }
      }
    }
    h1{
      font-size: $large;
      font-weight: normal;
      background-color: #1a3333;
      color: $light_gray;
      margin: 0;
      padding: $moderate * 1.5 $moderate;
    }
  }
}
header{
  padding: $moderate;
  background-color: $dark_cyan;
  color: $light_gray;
  span.logo-mark{
    font-weight: bold;
  }
  a {
    float: right;
    color: $light_gray;
  }
}
footer{
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: $dark_gray;
  color: $light_gray;
  p{
    text-align: right;
    margin: 0;
    padding: $moderate;
  }
}
//.section-profile-cover{
//  height: 580px;
//  background-size: cover;
//  background-position: center center;
//  img {
//    width: 100%;
//  }
//}
//.section-profile{
//    position: relative;
//    padding-top: 4rem;
//    padding-bottom: 4rem;
//    background-color: $very_light_gray;
//}
//.card-profile-image{
//    position: relative;
//    img{
//      max-width: 180px;
//      border-radius: .25rem;
//      @extend .shadow;
//      position: absolute;
//      left: 50%;
//      transform: translate(-50%,-33%);
//      transition: $transition-base;
//      &:hover{
//        transform: translate(-50%,-83%);
//      }
//    }
//}
//.mt--150{
//  margin-top: -150px;
//}
//.mt--300{
//  margin-top: -300px;
//}
//.mt--450{
//  margin-top: -450px;
//}
//.btn-default {
//  color: #fff;
//  background-color: #0b1526;
//  bordier-color: #08101c;
//}
//.btn-fs{
//  font-size: 0.75rem;
//}
//section#profile-page{
//  .item{
//    padding: .875rem;
//  }
//  @media (max-width: 575.98px) {
//    .item {
//      margin-top: 110px;
//    }
//  }
//}
//.card-profile-stats{
//  padding: 1rem 0;
//  div{
//    text-align: center;
//    padding: .875rem;
//    margin-right: 1rem;
//    &:last-child{
//      margin-right: 0;
//    }
//  }
//}
//.heading {
//  font-size: 1.1rem;
//  font-weight: bold;
//  display: block;
//}
//.description {
//  font-size: .875rem;
//  color: #adb5bd;
//}
//.section-shaped{
//  position: relative;
//  overflow: hidden;
//}
//
//.border-top {
//  border-top: 0.0625rem solid #e9ecef !important;
//}