section#d-flex{
  .item{
    background-color: unset;
    margin-bottom: 0.5rem;
  }
  div{
    background-color: #448888;
    margin: .5rem 0;
    border: white solid 1px;
  }
  section#box{
    height: 200px;
    width: 100%;
    background-color: #999999;
  }
}
//.section-profile-cover{
//  height: 580px;
//  background-size: cover;
//  background-position: center center;
//  img {
//    width: 100%;
//  }
//}
//.section-profile{
//  position: relative;
//  padding-top: 4rem;
//  padding-bottom: 4rem;
//  background-color: $very_light_gray;
//}
//.card-profile-image{
//  position: relative;
//  img{
//    max-width: 180px;
//    border-radius: .25rem;
//    @extend .shadow;
//    position: absolute;
//    left: 50%;
//    transform: translate(-50%,-33%);
//    transition: $transition-base;
//    &:hover{
//      transform: translate(-50%,-83%);
//    }
//  }
//}
//.mt--150{
//  margin-top: -150px;
//}
//.mt--300{
//  margin-top: -300px;
//}
//.mt--450{
//  margin-top: -450px;
//}
//.btn-default {
//  color: #fff;
//  background-color: #0b1526;
//  bordier-color: #08101c;
//}
//.btn-fs{
//  font-size: 0.75rem;
//}
//section#profile-page{
//  .item{
//    padding: .875rem;
//  }
//  @media (max-width: 575.98px) {
//    .item {
//      margin-top: 110px;
//    }
//  }
//}
//.card-profile-stats{
//  padding: 1rem 0;
//  div{
//    text-align: center;
//    padding: .875rem;
//    margin-right: 1rem;
//    &:last-child{
//      margin-right: 0;
//    }
//  }
//}
//.heading {
//  font-size: 1.1rem;
//  font-weight: bold;
//  display: block;
//}
//.description {
//  font-size: .875rem;
//  color: #adb5bd;
//}
//.section-shaped{
//  position: relative;
//  overflow: hidden;
//}
//
//.border-top {
//  border-top: 0.0625rem solid #e9ecef !important;
//}